.header_wrap .header_fix{
	width:100%;
	height:80px;
	position:relative;
}
.header_wrap h1{
	display:inline-block;
	width:96px;
	height:22px;
	margin:32px 0 auto 93px;
	background:url(../img/logo_service2_v1_rtn.png) no-repeat;
	background-size:auto 80px;
	text-indent:-9999px
}
.header_wrap .header_fix .top_search{
	position:absolute;
	top:22px;
	right:30px;
}
.header_wrap .header_fix .top_search form{
	display:inline-block;
	position:relative;

}
.header_wrap .header_fix .top_search .input_sch_wrap{
	width:206px;
	height:36px;
	border-radius:20px;
	border:1px solid #ddd;
}
.header_wrap .header_fix .top_search .input_sch_wrap .input_sch{
	height:20px;
	margin:6px auto auto 40px;
	font-size:12px;
}
.header_wrap .header_fix .top_search .btn_brunch_start{
	display:inline-block;
	width:70px;
	height:36px;
	position:relative;
	margin-right:10px;
	border:1px solid #959595;
	border-radius:36px;
	vertical-align:middle;
	box-sizing:border-box;
	text-indent:-9999px
}
.header_wrap .header_fix .top_search .btn_brunch_start:after{
	content:'시작하기';
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:12px;
	text-align:center;
	color:#666;
	text-indent:initial;

}

.header_wrap .header_fix .top_search .btn_sch{
	width:22px;
	height:22px;
	position:absolute;
	left:12px;
	top:8px;
	background:url(../img/ico_view_cover.v4_rtn.png) no-repeat;
	background-size:auto 300px;
	background-position:-57px 0px;
	text-indent:-9999px
}

.header_banner_slide{
	width:100%;
	height:480px;
	position:relative;
	background:#ddd;
}
.header_banner_slide ._slide_center ._slide.type1 .box_center{
	width:300px;
	height:300px;
	padding:50px;
	position:relative;
	top:90px;
	margin:auto;
	background:#f492a5;
	color:#fff;
	text-align:center
}
.header_banner_slide ._slide_center ._slide .banner_scrolltop{
	width:100%;
	height:480px;
}
.header_banner_slide ._slide_center ._slide.type1{
	background:url(../img/pc_weekly_open_bg.png) no-repeat center;
	background-size:cover;
}
.header_banner_slide ._slide_center ._slide.type2{
	 background:linear-gradient(to right, #6cb5ac, #76b9ec);
}
.header_banner_slide ._slide_center ._slide.type2 .banner_scrolltop{

}
.header_banner_slide ._slide_center ._slide.type1 .box_center .main_t{
	font-size:50px;
	font-weight:600;
	line-height:1
}
.header_banner_slide ._slide_center ._slide.type1 .box_center .sub_t{
	margin-top:10px;
	font-size:20px;
	font-weight:600
}
.header_banner_slide ._slide_center ._slide.type2 .box_center{
	width:960px;
	height: 100%;
	position:relative;
	margin:auto;
	background: url(../img/pc_maintop_banner.png) no-repeat center;
	background-size:contain;
}
.header_banner_slide ._slide_center ._slide.type2 .box_center .tit{
	position:relative;
	left:150px;
	top:100px;
	padding-left:10px;
	font-size:14px;
	color:#fff;
	border-left:3px solid #fff;
}
.header_banner_slide ._btn_close{
	width:60px;
	height:60px;
	position:absolute;
	right:80px;
	top:50%;
	transform:translateY(-50%);
	text-indent: -9999px;
	cursor: pointer
}
.header_banner_slide ._btn_close:before,.header_banner_slide ._btn_close:after{
	content:'';
	width:80px;
	height:1px;
	position:absolute;
	left:50%;
	top:50%;
	background:#fff;
}
 .header_banner_slide ._btn_close:before{
	transform:translate(-50%,-50%) rotate(45deg);
}
 .header_banner_slide ._btn_close:after{
	transform:translate(-50%,-50%) rotate(-45deg);
}
 .header_banner_slide ._slide_center{
	width:100%;
	height:100%;
	position:relative;
 }
.header_wrap .top_menu{
	width:27px;
	height:20px;
	position:absolute;
	left:40px;
	top:30px;
}
.one, .two, .three{
	width:27px;
	height:2px;
	margin:5px auto;
	background:#4c4c4c;
	transition-duration:0.3px;
}
.header_banner_slide ._slide_pagination{
	position:absolute;
	right:220px;
	top:50%;
	transform:translateY(-50%);
}
.header_banner_slide ._slide_pagination .pagination_bullet{
	display:block;
	position:relative;
	width:4px;
	height:24px;
	padding:16px;
	box-sizing: border-box;
	opacity:0.5;
	cursor: pointer
}
.header_banner_slide ._slide_pagination .pagination_bullet:before{
	content:'';
	width:4px;
	height:24px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border-radius:10px;
	background:#fff
}
.header_banner_slide ._slide_pagination .pagination_bullet.active:before{

	height:47px;
}
.header_banner_slide ._slide_pagination .pagination_bullet:first-child{
	margin-bottom:10px;
}
.header_banner_slide ._slide_pagination .pagination_bullet.active{
	width:4px;
	height:47px;
	opacity:1
}
.header_banner_slide ._slide_pagination.btn_small .pagination_bullet{
	width:32px;
	height:12px;
	padding:0;
}
.header_banner_slide ._slide_pagination.btn_small .pagination_bullet:before{
	width:4px;
	height:4px;
	border-radius:50%
}
.header_banner_slide ._slide_pagination.btn_small .pagination_bullet:first-child{
	margin-bottom:2px;
}
.header_banner_slide ._slide_center ._slide .banner_scrolldown{
	height:60px;
	font-size:20px;
	text-align:center;
	line-height: 60px;
	font-family: 'Jeju Myeongjo', serif;
	color:#fff;
}
.header_banner_slide ._slide_center ._slide.type1 .banner_scrolldown .color{
 	color:#f492a5;
}
.header_banner_slide ._slide_center ._slide.type2 .banner_scrolldown .color{
 	color:#f6dc44;
}